<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href = "/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class = main-content>
        {{>header}}
        <p>This site was created as a cover scam, looks like im trying to give users the weather, but in reality i use it so i can abserve perah's picture whenever i want</p>
        <img class = "perah" src = /img/perah.jpeg>
    </div>

    {{>footer}}
</body>

</html>